flows.json
[{"id":"49064505.e203ac","type":"tab","label":"IA","disabled":false,"info":""},{"id":"cbceca29.5e6e78","type":"tab","label":"Rabbit MQ","disabled":false,"info":""},{"id":"1233646a.c9624c","type":"tab","label":"Base de datos","disabled":false,"info":""},{"id":"d9b07ed0.0a20d8","type":"amqp-server","host":"mudley.duckdns.org","port":"5671","vhost":"/","keepalive":"30","usetls":true,"verifyservercert":true,"useca":false,"ca":"/etc/rabbitmq/privkey.pem","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"9bb45eed.e387a","type":"MySQLdatabase","name":"","host":"mudleydb.duckdns.org","port":"3306","db":"mudley","tz":"","charset":"UTF8"},{"id":"df6a46cd.7f3d58","type":"tls-config","name":"","cert":"/etc/rabbitmq/cert.pem","key":"/etc/rabbitmq/privkey.pem","ca":"/etc/rabbitmq/fullchain.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3008d687.bfcfb2","type":"http in","z":"cbceca29.5e6e78","name":"","url":"/registro","method":"post","upload":true,"swaggerDoc":"","x":130,"y":200,"wires":[["f109cb2d.7c7ee"]]},{"id":"f109cb2d.7c7ee","type":"json","z":"cbceca29.5e6e78","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":200,"wires":[["2051b72c.8bfc58","a05c7d15.7b828"]]},{"id":"e9eaf6d0.a2c44","type":"amqp out","z":"cbceca29.5e6e78","name":"","routingkey":"","iotype":"3","ioname":"userregister","server":"d9b07ed0.0a20d8","x":790,"y":200,"wires":[]},{"id":"2051b72c.8bfc58","type":"function","z":"cbceca29.5e6e78","name":"","func":"msg.topic = \"grupo.\" + msg.payload.genderId.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["588b80f8.e93b68","e9eaf6d0.a2c44"]]},{"id":"c719fa5a.73c4e8","type":"http in","z":"49064505.e203ac","name":"","url":"mostrar","method":"post","upload":true,"swaggerDoc":"","x":70,"y":120,"wires":[["ea7c9af5.dd7288"]]},{"id":"276f9b89.f85374","type":"http response","z":"49064505.e203ac","name":"","statusCode":"","headers":{},"x":970,"y":120,"wires":[]},{"id":"eb715416.231a88","type":"http request","z":"49064505.e203ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleyia.duckdns.org:8000/mostrar","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":590,"y":120,"wires":[["a64ca8f8.35f2e8"]]},{"id":"a64ca8f8.35f2e8","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": [\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        }\n      ]\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"results\"\n  ]\n}","x":790,"y":120,"wires":[["276f9b89.f85374"]]},{"id":"ea7c9af5.dd7288","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"city\": {\n      \"type\": \"string\"\n    },\n    \"date\": {\n      \"type\": \"string\"\n    },\n    \"gender\": {\n      \"type\": \"string\"\n    },\n    \"budget\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"city\",\n    \"date\",\n    \"gender\",\n    \"budget\"\n  ]\n}","x":390,"y":120,"wires":[["eb715416.231a88"]]},{"id":"ce762704.bdf018","type":"http in","z":"49064505.e203ac","name":"","url":"mostrarRecomendaciones","method":"post","upload":true,"swaggerDoc":"","x":130,"y":220,"wires":[["61727a30.9e1334"]]},{"id":"1d6d9e73.b0f5c2","type":"http response","z":"49064505.e203ac","name":"","statusCode":"","headers":{},"x":970,"y":220,"wires":[]},{"id":"9cca9ea0.05d22","type":"http request","z":"49064505.e203ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleyia.duckdns.org:8000/mostrarRecomendaciones","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":590,"y":220,"wires":[["421ba52.178fe5c"]]},{"id":"421ba52.178fe5c","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": [\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        }\n      ]\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"results\"\n  ]\n}","x":790,"y":220,"wires":[["1d6d9e73.b0f5c2"]]},{"id":"4d5bcbf2.ec27f4","type":"http in","z":"49064505.e203ac","name":"","url":"mostrarNuevos","method":"post","upload":true,"swaggerDoc":"","x":100,"y":320,"wires":[["fbf90793.002d18"]]},{"id":"41a17612.74a4b8","type":"http response","z":"49064505.e203ac","name":"","statusCode":"","headers":{},"x":970,"y":320,"wires":[]},{"id":"295141d.dcca0be","type":"http request","z":"49064505.e203ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleyia.duckdns.org:8000/mostrarNuevos","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":590,"y":320,"wires":[["7f7246d8.8c68d8"]]},{"id":"7b865416.555b2c","type":"http in","z":"49064505.e203ac","name":"","url":"mostrarVistos","method":"post","upload":true,"swaggerDoc":"","x":90,"y":420,"wires":[["8d74841b.a125f8"]]},{"id":"79dffce3.cb6964","type":"http response","z":"49064505.e203ac","name":"","statusCode":"","headers":{},"x":970,"y":420,"wires":[]},{"id":"92bdb322.35781","type":"http request","z":"49064505.e203ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleyia.duckdns.org:8000/mostrarVistos","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":590,"y":420,"wires":[["ce1234c2.1d5c28"]]},{"id":"ce1234c2.1d5c28","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": [\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        }\n      ]\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"results\"\n  ]\n}","x":790,"y":420,"wires":[["79dffce3.cb6964"]]},{"id":"e6fa9829.7e6a08","type":"http in","z":"49064505.e203ac","name":"","url":"mostrarNuestros","method":"post","upload":true,"swaggerDoc":"","x":100,"y":520,"wires":[["8e9ef55c.c646a8"]]},{"id":"e4a28798.afdbe8","type":"http response","z":"49064505.e203ac","name":"","statusCode":"","headers":{},"x":970,"y":520,"wires":[]},{"id":"52cea0f.e4bc66","type":"http request","z":"49064505.e203ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleyia.duckdns.org:8000/mostrarNuestros","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":590,"y":520,"wires":[["7d4cd45c.ac4d1c"]]},{"id":"1dcf7b46.410e75","type":"inject","z":"49064505.e203ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":60,"wires":[["abec7cb7.74ac"]]},{"id":"abec7cb7.74ac","type":"http request","z":"49064505.e203ac","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleyia.duckdns.org:8000/actualizarAgente","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":490,"y":60,"wires":[["b0c1b3f0.9a58"]]},{"id":"b0c1b3f0.9a58","type":"debug","z":"49064505.e203ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":60,"wires":[]},{"id":"33835186.bbcd6e","type":"http in","z":"1233646a.c9624c","name":"","url":"getAll","method":"post","upload":true,"swaggerDoc":"","x":110,"y":60,"wires":[["fa286057.beccc"]]},{"id":"e2772387.ab965","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":60,"wires":[]},{"id":"fa286057.beccc","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/user/getAll","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":60,"wires":[["88c4b386.a4a2c"]]},{"id":"1418a407.18f56c","type":"http in","z":"1233646a.c9624c","name":"","url":"getId","method":"post","upload":true,"swaggerDoc":"","x":110,"y":200,"wires":[["ed842a81.9b79d8"]]},{"id":"7cfed6b6.625058","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":200,"wires":[]},{"id":"d9168b64.0884e8","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/user/getId/{{payload.id}}","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":200,"wires":[["bbf9e71b.dd1428"]]},{"id":"6cd60162.bbd54","type":"http in","z":"1233646a.c9624c","name":"","url":"getMessageId","method":"post","upload":true,"swaggerDoc":"","x":130,"y":280,"wires":[["e765759f.d82288"]]},{"id":"dd2f216a.7e1b8","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":280,"wires":[]},{"id":"5500fe1a.3a0f1","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/message/get/{{payload.id}}","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":280,"wires":[["dd2f216a.7e1b8"]]},{"id":"6649c312.e32ccc","type":"http in","z":"1233646a.c9624c","name":"","url":"guardarUsuario","method":"post","upload":true,"swaggerDoc":"","x":140,"y":120,"wires":[["ad23b26.0d83d5"]]},{"id":"9dc7b484.2a08c8","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":120,"wires":[]},{"id":"30e8f397.9d0acc","type":"http request","z":"1233646a.c9624c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/user/register","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":120,"wires":[["9dc7b484.2a08c8"]]},{"id":"9c7f19f0.a94c38","type":"http in","z":"1233646a.c9624c","name":"","url":"guardarMensaje","method":"post","upload":true,"swaggerDoc":"","x":140,"y":360,"wires":[["c7b0ba9b.c04a38"]]},{"id":"b7567aff.811ef8","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":360,"wires":[]},{"id":"95b08b7d.9e4b08","type":"http request","z":"1233646a.c9624c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/message/save","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":360,"wires":[["b7567aff.811ef8"]]},{"id":"dd1ef51f.aa8ae8","type":"http in","z":"1233646a.c9624c","name":"","url":"getAllMessages","method":"post","upload":true,"swaggerDoc":"","x":140,"y":440,"wires":[["751a156e.deb0ac"]]},{"id":"1f2d640b.9d123c","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":440,"wires":[]},{"id":"751a156e.deb0ac","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/message/getAll","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":440,"wires":[["f4bf07fc.63e368"]]},{"id":"9448b1ee.c29ae","type":"http in","z":"1233646a.c9624c","name":"","url":"getChatId","method":"post","upload":true,"swaggerDoc":"","x":120,"y":520,"wires":[["26464304.beecbc"]]},{"id":"4836d994.c76498","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":520,"wires":[]},{"id":"bdb4b4c3.d7b068","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/chat/get/{{payload.id}}","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":520,"wires":[["4836d994.c76498"]]},{"id":"69d3e437.6f9fec","type":"http in","z":"1233646a.c9624c","name":"","url":"guardarChats","method":"post","upload":true,"swaggerDoc":"","x":130,"y":600,"wires":[["c6ff46e8.b4b258"]]},{"id":"deaee8f1.0e7098","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":600,"wires":[]},{"id":"6dce2fb5.f923c","type":"http request","z":"1233646a.c9624c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/chat/save","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":600,"wires":[["deaee8f1.0e7098"]]},{"id":"89e8f524.d798d8","type":"http in","z":"1233646a.c9624c","name":"","url":"getAllChats","method":"post","upload":true,"swaggerDoc":"","x":130,"y":680,"wires":[["b5c6d931.0a11a8"]]},{"id":"a471d6b7.7a25a8","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":680,"wires":[]},{"id":"b5c6d931.0a11a8","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/chat/getAll","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":680,"wires":[["716f2453.b3507c"]]},{"id":"3a0f5cbe.4f1154","type":"http in","z":"1233646a.c9624c","name":"","url":"getGenderId","method":"post","upload":true,"swaggerDoc":"","x":130,"y":760,"wires":[["e6b43f5c.636cb"]]},{"id":"40bbf958.3333c8","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":760,"wires":[]},{"id":"70756816.136bf8","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/gender/get/{{payload.id}}","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":760,"wires":[["b950fb84.665ad8"]]},{"id":"b9511af3.f62df8","type":"http in","z":"1233646a.c9624c","name":"","url":"guardarGender","method":"post","upload":true,"swaggerDoc":"","x":140,"y":840,"wires":[["d6ccc418.2f29b8"]]},{"id":"639f48d5.185868","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":840,"wires":[]},{"id":"d6ccc418.2f29b8","type":"http request","z":"1233646a.c9624c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/gender/save","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":840,"wires":[["639f48d5.185868"]]},{"id":"929015a0.a24518","type":"http in","z":"1233646a.c9624c","name":"","url":"getAllGenders","method":"post","upload":true,"swaggerDoc":"","x":130,"y":920,"wires":[["58ea6a78.44b0b4"]]},{"id":"f1b483ee.d26a","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":920,"wires":[]},{"id":"58ea6a78.44b0b4","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/gender/getAll","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":920,"wires":[["3ff6604b.f6023"]]},{"id":"52eed5d.eda122c","type":"http in","z":"1233646a.c9624c","name":"","url":"getDateId","method":"post","upload":true,"swaggerDoc":"","x":120,"y":1000,"wires":[["c24c8e26.5012c"]]},{"id":"80b1b6ec.c482d8","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":1000,"wires":[]},{"id":"84204a03.fa8668","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/date/getId/{{payload.id}}","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":1000,"wires":[["80b1b6ec.c482d8"]]},{"id":"604c64a6.4d84dc","type":"http in","z":"1233646a.c9624c","name":"","url":"guardarDate","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1080,"wires":[["575797a0.7b26c8"]]},{"id":"3d8cbdd7.b74e22","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":1080,"wires":[]},{"id":"2dbec2e1.ceac2e","type":"http request","z":"1233646a.c9624c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/date/save","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":1080,"wires":[["3d8cbdd7.b74e22"]]},{"id":"23e57e68.8a2d02","type":"http in","z":"1233646a.c9624c","name":"","url":"getAllDates","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1160,"wires":[["b18f1df4.607de"]]},{"id":"686340cd.09939","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":1160,"wires":[]},{"id":"b18f1df4.607de","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/date/getAll","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":1160,"wires":[["4334f212.bd987c"]]},{"id":"d9076e50.e530e","type":"http in","z":"1233646a.c9624c","name":"","url":"getValorationId","method":"post","upload":true,"swaggerDoc":"","x":140,"y":1240,"wires":[["a9486f96.f764e"]]},{"id":"4da04da9.934fd4","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":1240,"wires":[]},{"id":"9d7a2a14.1d0d28","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/valoration/get/{{payload.id}}","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":1240,"wires":[["4da04da9.934fd4"]]},{"id":"4a42d943.f0d4f8","type":"http in","z":"1233646a.c9624c","name":"","url":"guardarValorations","method":"post","upload":true,"swaggerDoc":"","x":150,"y":1320,"wires":[["f84cdea4.aa55f"]]},{"id":"e05f03b9.9134a","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":1320,"wires":[]},{"id":"f84cdea4.aa55f","type":"http request","z":"1233646a.c9624c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/valoration/save","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":610,"y":1320,"wires":[["e05f03b9.9134a"]]},{"id":"7da358cb.e37068","type":"http in","z":"1233646a.c9624c","name":"","url":"getAllValorations","method":"post","upload":true,"swaggerDoc":"","x":140,"y":1400,"wires":[["58e4ef84.f4f4b"]]},{"id":"e76116c5.364368","type":"http response","z":"1233646a.c9624c","name":"","statusCode":"","headers":{},"x":990,"y":1400,"wires":[]},{"id":"58e4ef84.f4f4b","type":"http request","z":"1233646a.c9624c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://mudleydb.duckdns.org:8080/valoration/getAll","tls":"df6a46cd.7f3d58","persist":true,"proxy":"","authType":"","x":590,"y":1400,"wires":[["e76116c5.364368"]]},{"id":"588b80f8.e93b68","type":"http response","z":"cbceca29.5e6e78","name":"","statusCode":"","headers":{},"x":670,"y":140,"wires":[]},{"id":"ad23b26.0d83d5","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"email\": {\n      \"type\": \"string\"\n    },\n    \"password\": {\n      \"type\": \"string\"\n    },\n    \"budget\": {\n      \"type\": \"string\"\n    },\n    \"country\": {\n      \"type\": \"string\"\n    },\n    \"city\": {\n      \"type\": \"string\"\n    },\n    \"cp\": {\n      \"type\": \"integer\"\n    },\n    \"description\": {\n      \"type\": \"string\"\n    },\n    \"genderId\": {\n      \"type\": \"string\"\n    },\n    \"link\": {\n      \"type\": \"string\"\n    },\n    \"artista\": {\n      \"type\": \"boolean\"\n    },\n    \"organizacion\": {\n      \"type\": \"boolean\"\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"email\",\n    \"password\",\n    \"budget\",\n    \"country\",\n    \"city\",\n    \"cp\",\n    \"description\",\n    \"genderId\",\n    \"link\",\n    \"artista\",\n    \"organizacion\"\n  ]\n}","x":410,"y":120,"wires":[["30e8f397.9d0acc"]]},{"id":"e6b43f5c.636cb","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\"\n  ]\n}","x":410,"y":760,"wires":[["70756816.136bf8"]]},{"id":"8e9ef55c.c646a8","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\"\n  ]\n}","x":390,"y":520,"wires":[["52cea0f.e4bc66"]]},{"id":"7d4cd45c.ac4d1c","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": [\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        }\n      ]\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"results\"\n  ]\n}","x":790,"y":520,"wires":[["e4a28798.afdbe8"]]},{"id":"7f7246d8.8c68d8","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": [\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        },\n        {\n          \"type\": \"string\"\n        }\n      ]\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"results\"\n  ]\n}","x":790,"y":320,"wires":[["41a17612.74a4b8"]]},{"id":"8d74841b.a125f8","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\"\n  ]\n}","x":390,"y":420,"wires":[["92bdb322.35781"]]},{"id":"fbf90793.002d18","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\"\n  ]\n}","x":390,"y":320,"wires":[["295141d.dcca0be"]]},{"id":"61727a30.9e1334","type":"json-schema-validator","z":"49064505.e203ac","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\"\n  ]\n}","x":390,"y":220,"wires":[["9cca9ea0.05d22"]]},{"id":"f4bf07fc.63e368","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"array\",\n  \"items\": [\n    {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"text\": {\n          \"type\": \"string\"\n        },\n        \"leido\": {\n          \"type\": \"boolean\"\n        },\n        \"userId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            },\n            \"email\": {\n              \"type\": \"string\"\n            },\n            \"password\": {\n              \"type\": \"string\"\n            },\n            \"image\": {\n              \"type\": \"string\"\n            },\n            \"budget\": {\n              \"type\": \"integer\"\n            },\n            \"country\": {\n              \"type\": \"string\"\n            },\n            \"city\": {\n              \"type\": \"string\"\n            },\n            \"cv\": {\n              \"type\": \"integer\"\n            },\n            \"link\": {\n              \"type\": \"string\"\n            },\n            \"description\": {\n              \"type\": \"string\"\n            },\n            \"rating\": {\n              \"type\": \"integer\"\n            },\n            \"genderId\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            },\n            \"roles\": {\n              \"type\": \"array\",\n              \"items\": [\n                {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"id\": {\n                      \"type\": \"integer\"\n                    },\n                    \"name\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"required\": [\n                    \"id\",\n                    \"name\"\n                  ]\n                }\n              ]\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\",\n            \"email\",\n            \"password\",\n            \"image\",\n            \"budget\",\n            \"country\",\n            \"city\",\n            \"cv\",\n            \"link\",\n            \"description\",\n            \"rating\",\n            \"genderId\",\n            \"roles\"\n          ]\n        },\n        \"chatId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"userId\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                },\n                \"email\": {\n                  \"type\": \"string\"\n                },\n                \"password\": {\n                  \"type\": \"string\"\n                },\n                \"image\": {\n                  \"type\": \"string\"\n                },\n                \"budget\": {\n                  \"type\": \"integer\"\n                },\n                \"country\": {\n                  \"type\": \"string\"\n                },\n                \"city\": {\n                  \"type\": \"string\"\n                },\n                \"cv\": {\n                  \"type\": \"integer\"\n                },\n                \"link\": {\n                  \"type\": \"string\"\n                },\n                \"description\": {\n                  \"type\": \"string\"\n                },\n                \"rating\": {\n                  \"type\": \"integer\"\n                },\n                \"genderId\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"id\": {\n                      \"type\": \"integer\"\n                    },\n                    \"name\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"required\": [\n                    \"id\",\n                    \"name\"\n                  ]\n                },\n                \"roles\": {\n                  \"type\": \"array\",\n                  \"items\": [\n                    {\n                      \"type\": \"object\",\n                      \"properties\": {\n                        \"id\": {\n                          \"type\": \"integer\"\n                        },\n                        \"name\": {\n                          \"type\": \"string\"\n                        }\n                      },\n                      \"required\": [\n                        \"id\",\n                        \"name\"\n                      ]\n                    }\n                  ]\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\",\n                \"email\",\n                \"password\",\n                \"image\",\n                \"budget\",\n                \"country\",\n                \"city\",\n                \"cv\",\n                \"link\",\n                \"description\",\n                \"rating\",\n                \"genderId\",\n                \"roles\"\n              ]\n            },\n            \"userId2\": {\n              \"type\": \"integer\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"userId\",\n            \"userId2\"\n          ]\n        },\n        \"squedule\": {\n          \"type\": \"string\"\n        },\n        \"proposition\": {\n          \"type\": \"boolean\"\n        },\n        \"acepted\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"text\",\n        \"leido\",\n        \"userId\",\n        \"chatId\",\n        \"squedule\",\n        \"proposition\",\n        \"acepted\"\n      ]\n    }\n  ]\n}","x":810,"y":440,"wires":[["1f2d640b.9d123c"]]},{"id":"b950fb84.665ad8","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    },\n    \"name\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"name\"\n  ]\n}","x":810,"y":760,"wires":[["40bbf958.3333c8"]]},{"id":"716f2453.b3507c","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"array\",\n  \"items\": [\n    {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"userId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            },\n            \"email\": {\n              \"type\": \"string\"\n            },\n            \"password\": {\n              \"type\": \"string\"\n            },\n            \"image\": {\n              \"type\": \"string\"\n            },\n            \"budget\": {\n              \"type\": \"integer\"\n            },\n            \"country\": {\n              \"type\": \"string\"\n            },\n            \"city\": {\n              \"type\": \"string\"\n            },\n            \"cv\": {\n              \"type\": \"integer\"\n            },\n            \"link\": {\n              \"type\": \"string\"\n            },\n            \"description\": {\n              \"type\": \"string\"\n            },\n            \"rating\": {\n              \"type\": \"integer\"\n            },\n            \"genderId\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            },\n            \"roles\": {\n              \"type\": \"array\",\n              \"items\": [\n                {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"id\": {\n                      \"type\": \"integer\"\n                    },\n                    \"name\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"required\": [\n                    \"id\",\n                    \"name\"\n                  ]\n                }\n              ]\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\",\n            \"email\",\n            \"password\",\n            \"image\",\n            \"budget\",\n            \"country\",\n            \"city\",\n            \"cv\",\n            \"link\",\n            \"description\",\n            \"rating\",\n            \"genderId\",\n            \"roles\"\n          ]\n        },\n        \"userId2\": {\n          \"type\": \"integer\"\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"userId\",\n        \"userId2\"\n      ]\n    }\n  ]\n}","x":810,"y":680,"wires":[["a471d6b7.7a25a8"]]},{"id":"bbf9e71b.dd1428","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    },\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"email\": {\n      \"type\": \"string\"\n    },\n    \"password\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"string\"\n    },\n    \"budget\": {\n      \"type\": \"integer\"\n    },\n    \"country\": {\n      \"type\": \"string\"\n    },\n    \"city\": {\n      \"type\": \"string\"\n    },\n    \"cv\": {\n      \"type\": \"integer\"\n    },\n    \"link\": {\n      \"type\": \"string\"\n    },\n    \"description\": {\n      \"type\": \"string\"\n    },\n    \"rating\": {\n      \"type\": \"integer\"\n    },\n    \"genderId\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\"\n      ]\n    },\n    \"roles\": {\n      \"type\": \"array\",\n      \"items\": [\n        {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\"\n          ]\n        }\n      ]\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"name\",\n    \"email\",\n    \"password\",\n    \"image\",\n    \"budget\",\n    \"country\",\n    \"city\",\n    \"cv\",\n    \"link\",\n    \"description\",\n    \"rating\",\n    \"genderId\",\n    \"roles\"\n  ]\n}","x":810,"y":200,"wires":[["7cfed6b6.625058"]]},{"id":"ed842a81.9b79d8","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\"\n  ]\n}","x":410,"y":200,"wires":[["d9168b64.0884e8"]]},{"id":"c7b0ba9b.c04a38","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    },\n    \"text\": {\n      \"type\": \"string\"\n    },\n    \"leido\": {\n      \"type\": \"boolean\"\n    },\n    \"userId\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\"\n        },\n        \"password\": {\n          \"type\": \"string\"\n        },\n        \"image\": {\n          \"type\": \"string\"\n        },\n        \"budget\": {\n          \"type\": \"integer\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"cp\": {\n          \"type\": \"integer\"\n        },\n        \"link\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        },\n        \"rating\": {\n          \"type\": \"integer\"\n        },\n        \"genderId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\"\n          ]\n        },\n        \"roles\": {\n          \"type\": \"array\",\n          \"items\": [\n            {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            }\n          ]\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\",\n        \"email\",\n        \"password\",\n        \"image\",\n        \"budget\",\n        \"country\",\n        \"city\",\n        \"cp\",\n        \"link\",\n        \"description\",\n        \"rating\",\n        \"genderId\",\n        \"roles\"\n      ]\n    },\n    \"chatId\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"userId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            },\n            \"email\": {\n              \"type\": \"string\"\n            },\n            \"password\": {\n              \"type\": \"string\"\n            },\n            \"image\": {\n              \"type\": \"string\"\n            },\n            \"budget\": {\n              \"type\": \"integer\"\n            },\n            \"country\": {\n              \"type\": \"string\"\n            },\n            \"city\": {\n              \"type\": \"string\"\n            },\n            \"cp\": {\n              \"type\": \"integer\"\n            },\n            \"link\": {\n              \"type\": \"string\"\n            },\n            \"description\": {\n              \"type\": \"string\"\n            },\n            \"rating\": {\n              \"type\": \"integer\"\n            },\n            \"genderId\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            },\n            \"roles\": {\n              \"type\": \"array\",\n              \"items\": [\n                {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"id\": {\n                      \"type\": \"integer\"\n                    },\n                    \"name\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"required\": [\n                    \"id\",\n                    \"name\"\n                  ]\n                }\n              ]\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\",\n            \"email\",\n            \"password\",\n            \"image\",\n            \"budget\",\n            \"country\",\n            \"city\",\n            \"cp\",\n            \"link\",\n            \"description\",\n            \"rating\",\n            \"genderId\",\n            \"roles\"\n          ]\n        },\n        \"userId2\": {\n          \"type\": \"integer\"\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"userId\",\n        \"userId2\"\n      ]\n    },\n    \"squedule\": {\n      \"type\": \"string\"\n    },\n    \"proposition\": {\n      \"type\": \"boolean\"\n    },\n    \"acepted\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"text\",\n    \"leido\",\n    \"userId\",\n    \"chatId\",\n    \"squedule\",\n    \"proposition\",\n    \"acepted\"\n  ]\n}","x":410,"y":360,"wires":[["95b08b7d.9e4b08"]]},{"id":"4334f212.bd987c","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"array\",\n  \"items\": [\n    {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"year\": {\n          \"type\": \"integer\"\n        },\n        \"month\": {\n          \"type\": \"string\"\n        },\n        \"day\": {\n          \"type\": \"integer\"\n        },\n        \"userId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            },\n            \"email\": {\n              \"type\": \"string\"\n            },\n            \"password\": {\n              \"type\": \"string\"\n            },\n            \"image\": {\n              \"type\": \"string\"\n            },\n            \"budget\": {\n              \"type\": \"integer\"\n            },\n            \"country\": {\n              \"type\": \"string\"\n            },\n            \"city\": {\n              \"type\": \"string\"\n            },\n            \"cv\": {\n              \"type\": \"integer\"\n            },\n            \"link\": {\n              \"type\": \"string\"\n            },\n            \"description\": {\n              \"type\": \"string\"\n            },\n            \"rating\": {\n              \"type\": \"integer\"\n            },\n            \"genderId\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            },\n            \"roles\": {\n              \"type\": \"array\",\n              \"items\": [\n                {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"id\": {\n                      \"type\": \"integer\"\n                    },\n                    \"name\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"required\": [\n                    \"id\",\n                    \"name\"\n                  ]\n                }\n              ]\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\",\n            \"email\",\n            \"password\",\n            \"image\",\n            \"budget\",\n            \"country\",\n            \"city\",\n            \"cv\",\n            \"link\",\n            \"description\",\n            \"rating\",\n            \"genderId\",\n            \"roles\"\n          ]\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"year\",\n        \"month\",\n        \"day\",\n        \"userId\"\n      ]\n    }\n  ]\n}","x":810,"y":1160,"wires":[["686340cd.09939"]]},{"id":"3ff6604b.f6023","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"array\",\n  \"items\": [\n    {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\"\n      ]\n    }\n  ]\n}","x":810,"y":920,"wires":[["f1b483ee.d26a"]]},{"id":"575797a0.7b26c8","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    },\n    \"year\": {\n      \"type\": \"integer\"\n    },\n    \"month\": {\n      \"type\": \"string\"\n    },\n    \"day\": {\n      \"type\": \"integer\"\n    },\n    \"userId\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\"\n        },\n        \"password\": {\n          \"type\": \"string\"\n        },\n        \"image\": {\n          \"type\": \"string\"\n        },\n        \"budget\": {\n          \"type\": \"integer\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"cp\": {\n          \"type\": \"integer\"\n        },\n        \"link\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        },\n        \"rating\": {\n          \"type\": \"integer\"\n        },\n        \"genderId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\"\n          ]\n        },\n        \"roles\": {\n          \"type\": \"array\",\n          \"items\": [\n            {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            }\n          ]\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\",\n        \"email\",\n        \"password\",\n        \"image\",\n        \"budget\",\n        \"country\",\n        \"city\",\n        \"cp\",\n        \"link\",\n        \"description\",\n        \"rating\",\n        \"genderId\",\n        \"roles\"\n      ]\n    },\n    \"recruiter\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"year\",\n    \"month\",\n    \"day\",\n    \"userId\",\n    \"recruiter\"\n  ]\n}","x":410,"y":1080,"wires":[["2dbec2e1.ceac2e"]]},{"id":"c24c8e26.5012c","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\"\n  ]\n}","x":410,"y":1000,"wires":[["84204a03.fa8668"]]},{"id":"a9486f96.f764e","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\"\n  ]\n}","x":410,"y":1240,"wires":[["9d7a2a14.1d0d28"]]},{"id":"26464304.beecbc","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\"\n  ]\n}","x":410,"y":520,"wires":[["bdb4b4c3.d7b068"]]},{"id":"e765759f.d82288","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\"\n  ]\n}","x":410,"y":280,"wires":[["5500fe1a.3a0f1"]]},{"id":"c6ff46e8.b4b258","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    },\n    \"userId\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\"\n        },\n        \"password\": {\n          \"type\": \"string\"\n        },\n        \"image\": {\n          \"type\": \"string\"\n        },\n        \"budget\": {\n          \"type\": \"integer\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"cp\": {\n          \"type\": \"integer\"\n        },\n        \"link\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        },\n        \"rating\": {\n          \"type\": \"integer\"\n        },\n        \"genderId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\"\n          ]\n        },\n        \"roles\": {\n          \"type\": \"array\",\n          \"items\": [\n            {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            }\n          ]\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\",\n        \"email\",\n        \"password\",\n        \"image\",\n        \"budget\",\n        \"country\",\n        \"city\",\n        \"cp\",\n        \"link\",\n        \"description\",\n        \"rating\",\n        \"genderId\",\n        \"roles\"\n      ]\n    },\n    \"userId2\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"userId\",\n    \"userId2\"\n  ]\n}","x":410,"y":600,"wires":[["6dce2fb5.f923c"]]},{"id":"88c4b386.a4a2c","type":"json-schema-validator","z":"1233646a.c9624c","name":"","func":"{\n  \"type\": \"array\",\n  \"items\": [\n    {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\"\n        },\n        \"password\": {\n          \"type\": \"string\"\n        },\n        \"image\": {\n          \"type\": \"string\"\n        },\n        \"budget\": {\n          \"type\": \"integer\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"cv\": {\n          \"type\": \"integer\"\n        },\n        \"link\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        },\n        \"rating\": {\n          \"type\": \"integer\"\n        },\n        \"genderId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\"\n          ]\n        },\n        \"roles\": {\n          \"type\": \"array\",\n          \"items\": [\n            {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            }\n          ]\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\",\n        \"email\",\n        \"password\",\n        \"image\",\n        \"budget\",\n        \"country\",\n        \"city\",\n        \"cv\",\n        \"link\",\n        \"description\",\n        \"rating\",\n        \"genderId\",\n        \"roles\"\n      ]\n    },\n    {\n      \"type\": \"object\",\n      \"properties\": {\n        \"id\": {\n          \"type\": \"integer\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\"\n        },\n        \"password\": {\n          \"type\": \"string\"\n        },\n        \"image\": {\n          \"type\": \"string\"\n        },\n        \"budget\": {\n          \"type\": \"integer\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"cv\": {\n          \"type\": \"integer\"\n        },\n        \"link\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        },\n        \"rating\": {\n          \"type\": \"integer\"\n        },\n        \"genderId\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"id\": {\n              \"type\": \"integer\"\n            },\n            \"name\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"id\",\n            \"name\"\n          ]\n        },\n        \"roles\": {\n          \"type\": \"array\",\n          \"items\": [\n            {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": {\n                  \"type\": \"integer\"\n                },\n                \"name\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"id\",\n                \"name\"\n              ]\n            }\n          ]\n        }\n      },\n      \"required\": [\n        \"id\",\n        \"name\",\n        \"email\",\n        \"password\",\n        \"image\",\n        \"budget\",\n        \"country\",\n        \"city\",\n        \"cv\",\n        \"link\",\n        \"description\",\n        \"rating\",\n        \"genderId\",\n        \"roles\"\n      ]\n    }\n  ]\n}","x":810,"y":60,"wires":[["e2772387.ab965"]]},{"id":"fb3fa141.85569","type":"e-mail","z":"cbceca29.5e6e78","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":670,"y":280,"wires":[]},{"id":"a05c7d15.7b828","type":"function","z":"cbceca29.5e6e78","name":"","func":"msg.to = msg.payload.email;\nmsg.topic = \"Gracias por suscribirte a Mudley\";\nmsg.payload = \"Bienvenido a Mudley \" + msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["fb3fa141.85569"]]}]